/*====header style====*/
header{
   background-image:url(../img/pattern.png);
   background-color: rgb(69, 153, 250);
   background-size: 280px;
}
.logo{
   padding-top: 20px;
   width: 180px;
}

/*====main style====*/
/*---first-section---*/
.hero-title h1{
   font-size: 2.5rem;
   margin-bottom: 0;
   margin-top: 15px;
}
.hero-title p{
   font-size: 1rem;
   color: #909090;
   margin: 0;
}
.hero-title span{
   color: rgb(62, 178, 224);
}
.photographers-info p{
   font-size: 0.9rem;
   margin: 0;
}

/*---second-section---*/
.highlighted{
   background-color: yellow;
}

/*---third-section---*/
.table{
   text-align: left;
   width: 100%;
   border-collapse: collapse;
}
.table-titles{
   background-color: rgb(34, 161, 221);
   color: #fff;
}
.even{
   background-color: #fff;
   margin: 0;
}
.odd{
  background-color: rgb(169, 227, 239);
}
.table th{
   margin: 0;
   padding-right: 60px;
   text-wrap: nowrap;
   width:min-content;
}

/*====footer style====*/
footer h3{
   color: #909090;
}
.first-image{
   background-image: url(../img/monitor.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 280px;
   height: 200px;
}
.first-image p{
   padding: 10px;
   font-size: 1.5rem;
   color: #fff;
}
.second-image{
   background-image: url(../img/graph.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 280px;
   height: 200px;
}
.second-image p{
   padding: 10px;
   font-size: 1.5rem;
   color: #fff;
}