/*====header style====*/
header{
   background-image:url(/img/pattern.png);
   background-color: rgb(69, 153, 250);
   background-size: contain;
   
}

.logo{
   padding-top: 20px;
   width: 180px;
}

/*====main style====*/
/*---first-section---*/
.hero-title h1{
   font-size: 2.5rem;
   margin-bottom: 0;
   margin-top: 15px;
}
.hero-title p{
   font-size: 1rem;
   color: #909090;
   margin: 0;
}
.hero-title span{
   color: rgb(62, 178, 224);
}
.photographers-info p{
   font-size: 0.9rem;
   margin: 0;
}

/*---second-section---*/
.highlighted{
   background-color: yellow;
}

/*---third-section---*/
.table{
   text-align: left;
   border: 1px solid red;
}
.table-titles{
   background-color: rgb(69, 153, 250);
}
.even{
   background-color: #fff;
}
.table th{
   padding-right: 60px;
   text-wrap: nowrap;
   width:min-content;
}
